:root {
  --cor-primaria: #f6d28b;
  --cor-secundaria: #3b2b1b;
  --cor-botoes: #9c6b3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
h1 {
  margin: 50px ;
  font-family: "DynaPuff", "Inter", sans-serif;
  color: var(--cor-secundaria);
  text-transform: uppercase;
}
p {
  font-family: "Inter", sans-serif;
  color: hsl(63, 24%, 19%);
  padding: 10px;
}
h3 {
  text-transform: uppercase;
  color: #3b2b1b;
  font-family: "DynaPuff", sans-serif;
}
body {
  text-align: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0 10px;
  background-color: var(--cor-primaria);
}

header img {
  height: 200px;
  width: 200px;
}
header .optionsHeader {
  display: flex;
  justify-content: right;
}
.optionsHeader ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.optionsHeader ul li a {
  margin: 0 10px;
  padding: 15px;
  border: 2px solid var(--cor-botoes);
  border-radius: 10px;
  font-family: "DynaPuff", "Inter", sans-serif;
}
.optionsHeader ul li a:hover {
  background-color: var(--cor-secundaria);
  color: #fff;
  box-shadow: inset;
}

#mainMenu {
  height: 100vh;
  width: 90%;
  margin: 30px 50px;
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  text-align: center;
}
.cardServices {
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.cardServices img {
  margin: 20px 15px;
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.cardServices h3 {
  padding: 10px 0;
}

#aboutUs {
  min-width: 100%;
  background-image: url(/Praticando_Js-LaDog-main/assests/images/ladog-Bckground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#contactAdrees {
  border-radius: 10px 0 0 0;
  padding: 21px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
}

#textAboutUs {
  padding: 2px;
  width: 300px;
}
a {
  font-family: "DynaPuff", "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--cor-secundaria);
}
